<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %} | Response Surface Method Optimization{% endblock %}</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    {{ANALYTICS_SNIPPET|safe}}

    <script type="text/javascript">
    var closePopup = function(event){
        $("#popup-message-back").text('');
        $('#popup-submit-button').parents('.ui-btn').show();
        $('#popup-OK-span').hide();
        $('#sign-in-popup').popup("close");
        event.preventDefault();
        };
    $(function() {
    $('#popup-OK-span').hide();
    $('#sign-in-popup-form').submit(function(event) {
        var form = $(this);

        $.ajax({
          type: form.attr('method'),
          url:  form.attr('action'),
          cache: false,
          data: form.serialize(),
          dataType: "html",
          beforeSend: function( xhr ) {
                $("#popup-message-back").text('Please wait ... (can take a few seconds)');
                $("#popup-message-back").css('color','green');
                $("#popup-submit-button").prop('disabled', true);
            }
        }).done(function(data) {
            $("#popup-message-back").css('color','blue');
            $("#popup-message-back").html(data);
            $('#popup-OK-span').show();
            $('#popup-submit-button').parents('.ui-btn').hide();
            $('#popup-OK-span').click(closePopup);
        }).fail(function(data) {
            $("#popup-message-back").css('color','red');
            $("#popup-message-back").text(data.responseText)
        }).always(function(data){
            $("#popup-submit-button").prop('disabled', false);
            $("#popup-message-back").show();
        });
        event.preventDefault(); // Prevent the form from submitting via the browser.
      });
    });

    </script>

    <style type="text/css">
    .rsm-sign-in-button{
        float:none;
        overflow: auto;
    }
    .rsm-header{
        clear:both;
        overflow: auto;
    }
    .rsm-content{
        padding-top: 0;
    }
    .rsm-blue{
        background-color: blue;
    }
    .ui-btn-icon-left:after {
        background-color: {% if enabled %}blue{% else %}red{% endif %};
    }
    </style>

    {% block header %}{% endblock %}
</head>
<body>

{% block body %}


<div data-role="page">
    <div data-role="rsm-header">
    {% if not hide_sign_in %}
        <div class="rsm-sign-in-button">
            <div data-role="main" class="ui-content">
                <a href="#sign-in-popup" id="sign-in-popup-link" data-rel="popup" class="ui-btn ui-icon ui-btn-inline ui-corner-all {% if enabled %}ui-icon-check blue{% else %}ui-icon-gear red{% endif %} ui-btn-icon-left" name="sign-in-popup-link">
                {% if enabled %}{{ person.display_name }}{% else %}Sign-in{% endif %}
                </a>
                <div data-role="popup" id="sign-in-popup" class="ui-content" data-transition="pop" style="min-width:250px;">
                    <form method="post" id="sign-in-popup-form" action="{% url 'rsmapp:popup_sign_in' %}" name="sign-in-popup-form">
                        {% csrf_token %}
                        <div>
                            <h3>Sign in with your email address</h3>
                            <em>New user</em>? We send a confirmation email.<br>
                            <em>Returning user</em>? We send a unique link, by email.
                            <label for="usrnm" class="ui-hidden-accessible">Email address:</label>
                            <input type="email" name="emailaddress" id="usrnm" placeholder="Your email address">
                            <span id="popup-message-back"></span>
                            <br>
                            <input id="popup-submit-button" type="submit" data-rel="back" data-inline="true" value="Email me a code to get started!">
                            <span id="popup-OK-span"><input id="popup-OK-button" type="button" data-inline="true" value="OK"></span>
                            <br>
                            <em>Note</em>: we do not use passwords on this website.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    </div><!-- /header -->

    <div role="main" class="ui-content rsm-content">
        {% block content %}{% endblock %}
    </div><!-- /content -->

    <div data-role="footer"></div><!-- /footer -->
</div><!-- /page -->
{% endblock %}
</body>
</html>

