{% extends "base.html" %}
{% load rsm_extras %}


{% block title %}Optimize!{% endblock %}
{# ------------------------------------------------#}
{% block header %}
    <style type="text/css">
    .rsm-left {
        float: left;
        width: 50%;
    }
    .rsm-right {
        float: right;
        width: 50%;
    }
    </style>
{% endblock %}
{# ------------------------------------------------#}

{% block content %}


{% if system_list %}
<div class="container">
    {% for system in system_list %}

        <img class="{% cycle 'rsm-left' 'rsm-right' %}" src="this-is-a-portrait-image.jpg" alt="test"/>
        <a class="{% cycle 'rsm-left' 'rsm-right' %}" href="{% url 'rsmapp:show_one_system' system.slug %}" data-ajax="false">{{ system.full_name }}</a>
        <br>
    {% endfor %}
</div>
{% else %}
    <p>No systems are available.</p>
{% endif %}

{% endblock %}