{% extends "base.html" %}
{% load rsm_extras %}
{% load staticfiles %}

{% block title %}Optimize!{% endblock %}
{# ------------------------------------------------#}
{% block header %}
    <style type="text/css">
    .rsm-left {
        float: left;
        width: 50%;
    }
    .rsm-right {
        float: right;
        width: 50%;
    }
    .front-image
    {
        width: 300px;
    }


    /* http://zurb.com/playground/css3-polaroids */
    ul.polaroids li {
        display: inline;
    }
    ul.polaroids a {
        background: #fff;
        display: inline;
        float: left;
        margin: 0 0 27px 30px;
        width: auto;
        padding: 10px 10px 15px;
        text-align: center;
        font-family: sans-serif;
        text-decoration: none;
        color: #333;
        font-size: 1em;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        -webkit-transform: rotate(-1deg);
        -webkit-transition: -webkit-transform .15s linear;
        -moz-transform: rotate(-2deg);
    }
    ul.polaroids li {
        padding-left: 0;
    }
    @media screen and (max-width: 768px) {
        ul.polaroids li a {
            margin-left: 0;
        }

    }
    ul.polaroids img {
        display: block;
        width: 100%;
        margin-bottom: 12px;
    }
    ul.polaroids a:after {
        content: attr(title);
    }
    ul.polaroids li:nth-child(even) a {
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
    }
    ul.polaroids li:nth-child(3n) a {
        -webkit-transform: none;
        position: relative;
        top: -5px;
        -moz-transform: none;
    }
    ul.polaroids li:nth-child(5n) a {
        -webkit-transform: rotate(5deg);
        position: relative;
        right: 5px;
        -moz-transform: rotate(5deg);
    }
    ul.polaroids li:nth-child(8n) a {
        position: relative;
        right: 5px;
        top: 8px;
    }
    ul.polaroids li:nth-child(11n) a {
        position: relative;
        left: -5px;
        top: 3px;
    }
    ul.polaroids li.messy a {
        margin-top: -400px;
        position: relative;
        left: 160px;
    }
    ul.polaroids li a:hover {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
        position: relative;
        z-index: 5;
    }
    h2 {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
    }
    h2 span {
        color: white;
        font: bold 36px/45px Helvetica, Sans-Serif;
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
    }
    </style>
{% endblock %}
{# ------------------------------------------------#}

{% block content %}

{% if system_list %}
<div class="container">

    <div style="padding-top: 1em">Use response surface methods to optimize these systems:</div>

    <ul class="polaroids large-block-grid-4 small-block-grid-2">
    {% for system in systems %}
        <li>
            <a href="{% url 'rsmapp:show_one_system' system.system.slug %}" title="{{ system.system.full_name }}" data-ajax="false">
                <img class="front-image" alt="{{ system.system.full_name }} :: {{ system.system.image_source_URL }}" src="{% static system.system.image_description.url %}"/>
                <h2><span>
                    {% if system.solved %}Solved{%else%}Start solving!{%endif%}
                </span></h2>
            </a>
        </li>
    {% endfor %}
    </ul>

</div>
{% else %}
    <p>No systems are available.</p>
{% endif %}

{% endblock %}
