{% extends "base.html" %}
{% load rsm_extras %}


{% block title %}{{ system.full_name }}{% endblock %}

{% block content %}
{{message|safe}}

<h2>{{ system.full_name }}</h2>
<p>{{system.description|safe|linebreaks}}

<style type="text/css">
.ui-input-text {
    width: 60% !important;
}
.rsm-input-suffix{
    padding-top: 10px;
}
</style>


{% if input_set %}
<hr>
<h2>The next experiment</h2>

<span class="rsm-error input-error">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<span>

{% if disabled %}
<p> You have to <a href="#sign-in-popup" id="sign-in-popup-link" data-rel="popup"
class="ui-btn ui-btn-inline ui-corner-all ui-icon-gear ui-btn-icon-left"
name="sign-in-popup-link">Sign-in</a>in order to run experiments on the website.

(We do not not use any passwords; we sign you in with a simple email.)
{% endif %}

<form action="{% url 'rsmapp:show_one_system' system.slug %}" method="post">
{% csrf_token %}

{% for item in input_set.all %}
    <p>
    <div data-role="fieldcontain">

    <label for="{{item.slug}}">{{item.display_name}}:  {{item.units_prefix}}</label>

    {% if item.ntype == "CON" %}

    <input type="text"
           name="{{item.slug}}"
           data-clear-btn="true"
           data-inline="true"
           {% if disabled %}disabled="disabled"{% endif %}
           size="7"
           maxlength="7"
           placeholder="{{item.default_value|get_floatformat:item.n_decimals}}"
           {% if prior_values %}
               value="{{ prior_values|get_item:item.slug|floatformat:2 }}"
           {% endif %}
           id="{{item.slug}}">
    {% elif item.ntype == "CAT" %}
        <fieldset data-role="controlgroup">
        {% for key, value in categoricals|dict_iteration:item.slug %}
            <input type="radio"
                   name="{{item.slug}}"
                   {% if disabled %}disabled="disabled"{% endif %}
                   value="{{key}}"
                   id="{{item.slug}}-{{forloop.counter}}"
            {% if value == "__checked__" %}checked{% endif %}>
            <label for="{{item.slug}}-{{forloop.counter}}">{{key}}</label>
        {% endfor %}
        </fieldset>
    {% endif %}
    <!--<label for="{{item.slug}}">-->
    <div class="rsm-input-suffix">{{item.units_suffix}}</div>
    <!--</label>-->

    </div>  <!--/fieldcontain-->

    <div data-role="fieldcontain">
    <label></label>
    <div class="rsm-extra-info" id="{{item.slug}}-error">
        {% if item.error_message%}({{item.error_message}}){% endif %}
    </div>
    </div><!--/fieldcontain-->
{% endfor %}

<p><input type="submit"
          {% if disabled %}disabled="disabled"{% endif %}
          value="Run my next experiment!" />
</form>
{% endif %} {# if input_set #}

<hr>

{% if data_html %}
    <h2>Previous experiments run</h2>
    <table width="100%">
    <tr><td width="600px">{{plot_html|safe}}</td>
    <td>
    {# Table of experimental results here #}
    <table class="prev-expts-table">
        <tr>
        <th>Experiment<br>number</th>
        <th>Date and time</th>
        {% for item in input_set.all %}
            <th class="{{item.slug}}">{{item.display_name}}<br>
            [{{item.units_prefix}}{{item.units_suffix}}]</th>
        {% endfor %}
        <th>{{system.primary_output_display_name_with_units}}</th>
        </tr>

        {% for expt in data_html %}
        {%spaceless%}
        <tr class="{% cycle 'odd' 'even' %} expt-result">
            <td class="expt-number">{{forloop.counter}}</td>
            <td class="datetime">{{expt.datetime|date:"d F Y H:i:s"}}</td>
            {% for item in input_set.all %}
                <td class="expt-input">{{expt.inputs|get_item:item.slug}}</td>
            {% endfor %}
            <td class="response">{{expt.output|floatformat:0}}</td>
        </tr>
        {% endspaceless %}
        {% endfor %}
    </table>
    </td></tr>
</table>

{% endif %}

{% endblock %}