{% extends "base.html" %}
{% load rsm_extras %}
{% load staticfiles %}

{% block title %}{{ system.full_name }}{% endblock %}
{# ------------------------------------------------#}
{% block header %}
    <style type="text/css">
    .ui-input-text {
        width: 60% !important;
    }
    .rsm-input-suffix{
        padding-top: 10px;
    }
    .row-odd{
    background: #DDDDDD;
    }

    .expt-response{
        text-align: right;
    }
    .expt-input{
        text-align: center
    }

    .rsm-error{
        color: red;
    }

    .front-image
    {
        width: 300px;
    }

    .row-header{
        font-style: italic;
    }

@media (min-width:800px)
{
    /* Using layout from http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm
     Column container */
    .rsm-colmask {
        position:relative;	/* This fixes the IE7 overflow hidden bug */
        clear:both;
        float:left;
        width:100%;			/* width of whole page */
        overflow:hidden;	/* This chops off any overhanging divs */
    }
    /* common column settings */
    .rsm-columns {
        float:left;
        width:100%;
        position:relative;
    }
    .col75,
    .col25,
    .col55,
    .col45,
    .col30,
    .col70{
        float:left;
        position:relative;
        padding:0 0 1em 0;
        overflow:hidden;
    }

    /* 2 Column (left menu) settings */
    .liquid2col .rsm-columns-75-25 {
        right:75%;			/* right column width */
    }
    .liquid2col .col75 {
        width:71%;			/* right column content width */
        left:102%;			/* 100% plus left column left padding */
    }
    .liquid2col .col25 {
        width:21%;			/* left column content width (column width minus left and right padding) */
        left:6%;			/* (right column left and right padding) plus (left column left padding) */
    }

    /* Another two column layout */
    .liquid2col .rsm-columns-55-45{
        right:55%
    }
    .liquid2col .col55 {
        width:51%;			/* right column content width: 55-2-2=51 */
        left:102%;			/* 100% plus left column left padding */
    }
    .liquid2col .col45 {
        width:41%;			/* left column content width (column width minus left and right padding  = 45-2-2=41) */
        left:6%;			/* (right column left and right padding) plus (left column left padding) */
    }

    /* Another two column layout */
    .liquid2col .rsm-columns-30-70{
        right:30%
    }
    .liquid2col .col30 {
        width:26%;			/* right column content width: 30-2-2=26 */
        left:102%;			/* 100% plus left column left padding */
    }
    .liquid2col .col70 {
        width:66%;			/* left column content width (column width minus left and right padding  = 70-2-2=66) */
        left:6%;			/* (right column left and right padding) plus (left column left padding) */
    }

}
    </style>
    {% if not enabled %}
        <script type="text/javascript">
        $(function() {
            $("#rsm-expt-input").fadeTo( 2000, 0.33 );
        });
        </script>
    {% endif %}
{% endblock %}
{# ------------------------------------------------#}
{% block content %}
{{message|safe}}
<h2>{{ system.full_name }}</h2>

<div class="rsm-colmask liquid2col">
    <div class="rsm-columns rsm-columns-75-25">
        <div class="col75">
           {{system.description|safe|linebreaks}}
        </div>
        <div class="col25">
            <img class="front-image" src="{% static system.image_description.url %}" alt="{{ system.full_name }} :: {{ system.image_source_URL }}" />
        </div>
    </div>
</div>
<div style="clear: both"></div>

<div class="rsm-colmask liquid2col">
    <div class="rsm-columns rsm-columns-30-70">
        <div class="col30">
            <!-- Right 30% -->
            <div class="rsm-info">
                {% if input_set  %}
                    <hr>
                    {% if data_html %}
                        {% if data_html|length == 1 %}
                            The 1st experiement, at baseline conditions, has automatically been run for you<br> (see the result below).
                        {% else %}
                            You have already run {{ data_html|length }} experiment{{ data_html|length|pluralize }} <br>(see results below).
                        {% endif %}
                        <br><br>
                        <table>
                            <tr><td class="row-header">Maximum experiments allowed:</td>
                                <td>{{system.max_experiments_allowed}}</td>
                            </tr>
                            <tr><td class="row-header">Cost per experiment:</td>
                                <td>${{system.cost_per_experiment|floatformat:"0"}}</td>
                            </tr>
                            <tr><td class="row-header">Total budget available:</td>
                                <td>${{ system.cost_per_experiment|multiply:system.max_experiments_allowed |floatformat:"0" }}</td>
                            </tr>
                            <tr><td class="row-header">Budget remaining:</td>
                                <td>${{ budget_remaining |floatformat:"0" }}</td>
                            </tr>
                        </table>
                    {% endif %}
                {% endif %}
            </div>
            <!-- /Right 30% -->
        </div>
        <div class="col70">
           <!-- Left 70% -->

<!-- --------------------------------------------- -->
{% if input_set and not show_solution %}
<hr>
<h2>Your next experiment</h2>

<div class="rsm-error input-error">{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}</div>
<div class="rsm-extra-info">{% if extra_information %}<p><strong>{{ extra_information }}</strong></p>{% endif %}</div>

{% if not enabled %}
    <p> You have to <a href="#sign-in-popup" id="sign-in-popup-link" data-rel="popup"
        class="ui-btn ui-btn-inline ui-corner-all ui-icon-gear ui-btn-icon-left red"
        name="sign-in-popup-link">Sign-in</a> in order to run experiments on the website.
    <br>(We do not not use any passwords; we sign you in with a single email.)
{% endif %}

<div id="rsm-expt-input">
    <form action="{% url 'rsmapp:show_one_system' system.slug %}"
    method="post" data-ajax="false">
    {% csrf_token %}

    {% for item in input_set.all %}
        <div data-role="fieldcontain">
            <label for="{{item.slug}}">{{item.display_name}}: {{item.units_prefix}}</label>
            {% if item.ntype == "CON" %}
                <input type="number"
                        step="0.001"
                       name="{{item.slug}}"
                       data-clear-btn="true"
                       data-inline="true"
                       {% if not enabled %}disabled="disabled"{% endif %}
                       size="7"
                       maxlength="7"
                       placeholder="{{item.default_value|get_floatformat:item.n_decimals}} (a typical value)"
                       {% if prior_values %}
                           value="{{ prior_values|get_item:item.slug|floatformat:2 }}"
                       {% endif %}
                       id="{{item.slug}}">
                {% elif item.ntype == "CAT" %}
                    <fieldset data-role="controlgroup">
                    {% for key, value in categoricals|dict_iteration:item.slug %}
                        <input type="radio"
                               name="{{item.slug}}"
                               {% if not enabled %}disabled="disabled"{% endif %}
                               value="{{key}}"
                               id="{{item.slug}}-{{forloop.counter}}"
                        {% if value == "__checked__" %}checked{% endif %}>
                        <label for="{{item.slug}}-{{forloop.counter}}">{{key}}</label>
                    {% endfor %}
                    </fieldset>
                {% endif %}
            <div class="rsm-input-suffix">{{item.units_suffix}}</div>
        </div>  <!--/fieldcontain-->

        <div data-role="fieldcontain"><label></label>
            <div class="rsm-extra-info" id="{{item.slug}}-error">{% if item.error_message%}({{item.error_message}}){% endif %}
            </div>
        </div><!--/fieldcontain-->
    {% endfor %}

    <div data-inline="true" class="ui-content">
        <input class="ui-btn ui-icon ui-btn-inline ui-corner-all" type="submit" {% if not enabled %}disabled="disabled"{% endif %} value="Run this experiment!" />
    </div>
    </form>

</div><!--/rsm-expt-input-->
{% endif %} {# for the branch: "if input_set and not show_solution" #}


<!-- --------------------------------------------- -->
           <!-- /Left 70%-->
        </div>
    </div>
</div>




<hr>

{% if data_html %}

    <h2>Your previous experiments, with the outcome value</h2>

        {{plot_html|safe}}

        {# Table of experimental results goes here #}

        <table class="expt-results" style="display: inline-block;">
            <tr>
            <th>Experiment<br>number</th>
            <th>Date and time</th>
            {% for item in input_set.all %}
                <th class="{{item.slug}}">{{item.display_name}}<br>
                  {% if item.ntype == "CON" %}[{{item.units_prefix}}{{item.units_suffix}}]{% endif %}
                </th>
            {% endfor %}
            <th>{{system.primary_output_display_name_with_units}}</th>
            </tr>

            {% for expt in data_html %}
            {%spaceless%}
            <tr class="row-{% cycle 'odd' 'even' %} expt-result" id="rsm-result-{{forloop.counter}}">
                <td class="expt-number">{{forloop.counter}}</td>
                <td class="datetime">{{expt.datetime|date:"d M Y H:i"}}</td>
                {% for item in input_set.all %}
                    <td class="expt-input">{{expt.inputs|get_item:item.slug}}</td>
                {% endfor %}
                <td class="expt-response">{{expt.output|floatformat:0}}</td>
            </tr>
            {% endspaceless %}
            {% endfor %}
        </table>

<script type="text/javascript">
    var closePopup = function(event){
        $('#reset-popup').popup("close");
        event.preventDefault();
        };
    $(function() {
        $('#reset-popup-form').submit(function(event) {
            var form = $(this);

            $.ajax({
                type: form.attr('method'),
                url:  form.attr('action'),
                cache: false,
                data: form.serialize(),
                dataType: "html",
                beforeSend: function( xhr ) {
                }
            }).done(function(data) {
                window.location.replace("{% url 'rsmapp:show_one_system' system.slug %}")
            }).fail(function(data) {
            }).always(function(data){
            });
            event.preventDefault();
        });
    });
</script>
<script type="text/javascript">
    var closePopup = function(event){
        $('#solution-popup').popup("close");
        event.preventDefault();
        };
    $(function() {
        $('#solution-popup-form').submit(function(event) {
            var form = $(this);

            $.ajax({
                type: form.attr('method'),
                url:  form.attr('action'),
                cache: false,
                data: form.serialize(),
                dataType: "html",
                beforeSend: function( xhr ) {
                }
            }).done(function(data) {
                window.location.replace("{% url 'rsmapp:show_one_system' system.slug %}")
            }).fail(function(data) {
            }).always(function(data){
            });
            event.preventDefault();
        });
    });
</script>


<div class="rsm-colmask liquid2col">
    <div class="rsm-columns rsm-columns-55-45">

        <div class="col55">

<!-- Starts here -->
<div class="rsm-reset-button">
    <div data-role="main" class="ui-content">
        <a href="#reset-popup" id="reset-link" data-rel="popup" class="ui-btn ui-icon ui-btn-inline ui-corner-all ui-icon-alert ui-btn-icon-left red" name="reset-popup-link">
        Clear all above experiments (start over)
        </a>
        <div data-role="popup" id="reset-popup" class="ui-content" data-transition="pop" style="min-width:250px;">
            <form method="post" id="reset-popup-form" action="{% url 'rsmapp:reset_one_system' system.slug %}" name="reset-popup-form">
                {% csrf_token %}
                <div>
                    <h3>Are you sure?</h3>
                    This will clear all experiments for this system and start from a fresh baseline experiment.<br>

                    <input id="popup-delete-submit-button" type="submit" data-rel="back" data-inline="true" value="Delete all the above experiments!">
                    <span id="popup-Cancel-span" style="float: right"><input id="popup-Cancel-button" type="button" data-inline="true" value="Cancel" onclick="closePopup()"></span>
                </div>
            </form>
        </div>
    </div>
</div>

        </div> <!-- col55 -->

        <div class="col45">

{% if not show_solution %}
    <div class="rsm-solution-button">
        <div data-role="main" class="ui-content">
            <a href="#solution-popup" id="solution-link" data-rel="popup" class="ui-btn ui-icon ui-btn-inline ui-corner-all ui-icon-eye ui-btn-icon-left green" name="solution-popup-link">
            Show true solution for this system
            </a>
            <div data-role="popup" id="solution-popup" class="ui-content" data-transition="pop" style="min-width:250px;">
                <form method="post" id="solution-popup-form" action="{% url 'rsmapp:show_solution_one_system' system.slug %}" name="solution-popup-form">
                    {% csrf_token %}
                    <div>
                    {% if data_html|length < system.min_experiments_allowed %}
                        <h3>Wait!</h3>
                        You cannot see the true solution until running at least <br>a total
                        of <b>{{system.min_experiments_allowed}}</b> experiments for this system.<br>
                        <input id="popup-Cancel-button" type="button" data-inline="true" value="OK" onclick="closePopup()">
                    {% else %}

                        <h3>Are you sure?</h3>
                        This will reveal the true solution for the system and no further experiments are then possible afterwards.

                        <input id="popup-solution-submit-button" type="submit" data-rel="back" data-inline="true" value="Show solution for this system!">
                        <span id="popup-Cancel-span" style="float: right"><input id="popup-Cancel-button" type="button" data-inline="true" value="Cancel" onclick="closePopup()"></span>

                    {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

        </div> <!-- col45 -->
    </div>
</div>


{% endif %} {# CHECK THAT THIS MATCHES WITH THE START #}
{% endblock %}